<h2>Sign up</h2>
<div data-turbo = "false">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@mail.com" %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autocomplete: "username", placeholder: "username"%>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "name", placeholder: "name"%>
    </div>

    <div>
      <%=f.label :avatar, class: "content-xs overline"%>
      <%=image_tag(@user.avatar,:class =>"user-avatar") if @user.avatar.attached? %>
        <div>
        <%=f.file_field :avatar, accept: "image/png, image/jpeg"%>   
        </div>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "********" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********" %>
    </div>


    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>