
<h2 class = "container-head header border-home" ><%="Tweet Detail"%></h2>
<div class = "flex border mb-2">
  <div class = "mr-1">
    <% user = User.find(@tweet.user_id)%>
    <%= image_tag(user.avatar)%>
  </div>
  <div class = "word--break">
    <div class = "flex gap-1">
      <div class= "heading"><%= @tweet.user.name%></div>
      <div class = "heading--regular">
        <%= "@#{@tweet.user.username}"%>
        <%= time_ago_in_words(@tweet.created_at)%><br>
      </div>
    </div>
    <%= @tweet.body%>
    <div class = "p-0">
      <%= image_tag("comments/orbe_comment.png") %>
      <%= @tweet.comments_count %><br>
    </div>
  </div>
</div>
<div>
  <div>
    <% if user_signed_in? %>
      <div class = "flex border mb-2">
        <div class = "mr-1"><%= image_tag current_user.avatar %></div>
        <div class = "w-full "><%= render "show_comment", comment: Comment.new %></div>
      </div>
    <% end %>
  </div>
  <div>
    <% @comments.each do |comment| %>
      <div class = "border">
        <div class = "flex"> 
          <div class = "mr-1">
            <% user = User.find(comment.user_id)%>
            <%= image_tag(user.avatar)%>
          </div>
          <div class = "word--break">
            <%= "@#{comment.user.username}"%>
            <%= time_ago_in_words(comment.created_at)%><br>
            <p><%=comment.body%> </p>
          </div>
        </div>
        <div class = "button--comment__direction">
          <% if user_signed_in? && current_user.id == comment.user_id %>
            <div class = "mr-1"><%= link_to image_tag("edit.png"), edit_comment_path(comment)%></div>
            <%= link_to image_tag("delete.png"), comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Sure?"} %><br>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>
